	.local/
	.sasstudio/
	.uestart/
	CHIS 2009 PUF- Adult SAS/
	Credit-Risk/
	ECST131/
	MyMacro/
	PCA_Notes/
	SAS_Books/
	SAS_LogReg/
	SAS_Macro/
	SAS_Output/
	SAS_Sim/
	SAS_doloop/
	lshort-master/
	other/
	statrep/

